<script lang="ts">
	import io from "socket.io-client";

	let nickname = "anonymous";
	let backlog: { from: string, text: string }[] = [];
	let buffer = "";

	let socket = io();

	socket.on("message", (msg) => {
		backlog.push(msg);
		backlog = backlog;
	});

	function handleKeypress(event: KeyboardEvent) {
		if (event.keyCode === 13) {
			// enter key; submit message and clear buffer
			socket.emit("message", { from: nickname, text: buffer });
			buffer = "";

			event.preventDefault();
			return false;
		} else {
			return true;
		}
	}
</script>

<main>
	{#each backlog as {from, text}, i}
		<p>
			&lt;{from}&gt; {text}
		</p>
	{/each}

	<div class="input-line">
		&lt;<input bind:value={nickname}>&gt;
		<input class="buffer" bind:value={buffer} on:keypress={handleKeypress} placeholder="">	
	</div>
</main>

<style type="text/scss">
	main {
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	.input-line {
		display: flex;
		align-items: baseline;

		input {
			display: inline-block;
			flex: 0;
		}

		.buffer {
			flex: 1;
		}
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>